.register-program-hajj{
    width: 100%;
   ;
}
.register-program-hajj form{
    background-image: url('../../../images/enhanced.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 100px 0;
}


.good-container , .helpless-container{
    width: 70%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px rgb(255, 247, 247);
    border: 2px solid rgba(163, 138, 138, 0.5);
    border-radius: 20px;
}
.good-container{
    height: 120vh;
}
.helpless-container{
    height: 225vh;
}
.amenities h2{
    direction: rtl;
    color: var(--color-text);
}

.health , .paying {
    margin: 20px  50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.seat-on-plane , .amenities{
    margin: 40px  0;
}
.table1 input[type="file"]{
    display: none;
}
.paying , .radio-room , .health {
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(255, 247, 247);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    
}

.Reservation_code{
    height: 12vh;
    margin: 60px;
}
.Reservation_code input::placeholder{
    color: white;
    font-size: large;
}
.Reservation_code p{
   font-size: 26px;
   border-radius: 10px;
   background-color: #ffffffbf;
   padding: 10px;
   box-shadow: 0px 0px 5px rgb(255, 247, 247);
   border: 2px solid rgba(255, 255, 255, 0.5);
   color: rgb(0, 0, 0);
   
}
  

