body{
  overflow-x: hidden;
}
.dashborde {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: end ;
  }
  .min {
    background-image: url(../../images/dashbord/1715458080642.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 100%;
    width: 18%;
    padding: 20px;
    position: fixed;
    z-index: 1;
    
  }
  
  .min img {
    margin-left: 30px;
    width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  flex-shrink: 0;
  }
  h5{
    margin-left: 30px;
    margin-top: 10px;
  }
  .min nav {
    margin: 10px;
    margin-left: 10px;
    margin-top: 100px;
    background-color: rgba(94, 87, 79, 0.582);
    border-radius: 10px;
    padding: 5px;
    height: 430px;
    width: 15%;
}
  .min nav ul {
    font-size: 20px;
    list-style: none;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .min nav ul li {
    padding-left: 4px;
  }

  .min nav ul a {
    text-decoration: none;
    transition: 0.5s;
    display: block;
    color: white;
  }
  .min .btn {
    position: absolute;
    bottom: 30px;
    margin-left: 20px;
    color: wheat;
  }
  .min h5{
    color: white;
  }
  .min .btn{
    background-color: #ccaf71;
  }
 
  .detiles {
    margin-left: 10%;
    width: 85%; 
  }
  .dashborde .alert {
    height: 150px;
    background: linear-gradient(to left, #9b7f34, #a88f3e, #a7942d, #dac08a);
    border-radius: 8px;
    width: 250px;
    margin-left: 40px;
    margin-top: 120px;
    text-align: center;
    color: white;
  }
  .detil{
    width: 82%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-around;
    grid-gap: 33px;
  }
  
 
 .contain-umrah , .contain-hajj{
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
 }
 table img:hover{
  cursor: pointer;
  transform: scale(4);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0) , -1px -1px 10px 1px rgb(133, 130, 130);
}
 
 .table-umrah , .table-hajj {
  max-width: 98%;
  overflow-x: auto; 
  direction: rtl;
}
.table-umrah table , .table-hajj table{
  width: 400%;
  direction: ltr;
  margin-bottom: 10px;
}
.table-umrah::-webkit-scrollbar ,
.table-hajj::-webkit-scrollbar
 {
  height: 12px;
}

.table-umrah::-webkit-scrollbar-thumb ,
.table-hajj::-webkit-scrollbar-thumb
{
  background-color: #ebcd94;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

 .contain-umrah .table-umrah {
  overflow-x: scroll;
 }

  .dashborde table{
    text-align: center;
    border-spacing: 2px;
  }
  

  .dashborde tr th{
    border-radius: 5px;
  }
   .dashborde tr td,.dashborde th {
    background: linear-gradient(to left, #7e6624, #816b22, #a7942d, #dac08a);
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
  }
   .dashborde input{
    width: 80%;
    color: black;
  }
  .dashborde  td button{
    color: black;
    border: none;
    padding: 2px;
    border: none;
    background-color: transparent;
  }
  
.btn-bus{
  margin-top: 10px;
  text-align: center;
   margin-left: 40%;
}
  .contain-umrah h2 ,.contain-hajj h2 {
    color: #fffefb;
    text-align: center;
    background-color: #0a0903dc;
    border-radius: 50%;
    padding: 3px;
    width: 75%;
    border: 3px solid #a7942d;
  }
  ::-webkit-scrollbar-button {
    display: none; 
  }
.prog-umrah h2 ,.prog-hajj h2 ,.transport-updat h2 ,.seting h2{
  color: #fffefb;
  text-align: center;
  background-color: #0a0903dc;
  border-radius: 50%;
  padding: 3px;
  width: 75%;
  border: 3px solid #a7942d;
  margin-left: 20%;
}
.seting{
  width: 100%;
}

.progr-parent{
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(2,35%);
  margin-top: 20px;
  justify-content:space-around;
}
.prog1 {
  width: 450px;
  height: 500px;

  box-shadow: 5px 10px 20px #a7952dda inset;
}
.prog1 p {
  color: #fffefb;
  text-align: right;
  margin-right: 30px;
  font-size: 20px;

}

.prog-umrah .update ,.prog-hajj .update{
  background-color: rgba(82, 71, 71, 0.904);
  text-align: center;
  margin-left: 100px;
  margin-right: 80px;
  width: 25%;
  border: none;
  font-size: 20px;
  color: white;
  
}
.prog-umrah .delet ,.prog-hajj .delet{
  background-color: rgba(212, 11, 11, 0.904);

  text-align: center;
  color: white;
  width: 25%;
  border: none;
  font-size: 20px;
}
.prog2{
  width: 450px;
  height: 500px;
  box-shadow: 5px 10px 20px  #a7952dda inset;
}
.progr-parent h3{
  margin-top: 40px;
 color:  #f8e2b6;
  text-align: center;
  border-radius: 10px 0 10px 0;
  font-weight: 700;
}
.prog-add{
  box-shadow: 5px 10px 20px  #a7952dda inset;
  height: auto;
  width: 70%;
  margin-left: 23%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
}
.prog-add input{
  margin-top: 70px;
  border-radius: 5px;
 text-align: right;
 color: black;
 width: 200px;
margin-left: 100px;

}
.prog-add .numb{
  width: 50px;
  margin-left: 150px;
}
.prog-add .name{
  margin-left: 70px;

}
.prog-add div{
  margin-left: 100px;
}
.prog-add label{
  /* position: absolute; */
  color: #fffefb;
  text-align: right;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 10px;

}


.prog-add .room label ,.hot label{
  padding: 10px;
 margin-bottom: 100px;
}

.room td ,.hot td ,.buss td
{
  margin: 5px;
  background: linear-gradient(to left, #68541e, #b49a43c5, #ccba53, #ccaf71);
  border: 3px solid rgb(255, 255, 255);
  padding: 4px;
color: #332b13;
font-size: 25px;
  
}

.room h4 ,.hot h4 ,.buss h4{
color: wheat;
text-align: right;
margin-top: 40px;
margin-right: 50px;
}
  .room  table ,.hot table {
    width: 75%;
    margin-top: 30px;
    margin-left: 50px;
    height: 150px;
    text-align: right;
  }
.add-btn{
  margin-top:80px ;
  text-align: center;
 margin-left: 40%;
 background-color: #705a13;
 color: #332b13;
 width: 20%;
 font-size: 25px;
 border-radius: 50%;
 margin-bottom: 20px;
}

.add-btn:hover{
  background-color: white;
  color: #578305;
  font-size: 30px;
}
.room ,.hot{
  margin-left: 100px;
}
.hotal-updat{
  width: 100%;
}
.hotal-updat h2{
  color: #fffefb;
  text-align: center;
  background-color: #0a0903dc;
  border-radius: 50%;
  padding: 3px;
  width: 75%;
  border: 3px solid #a7942d;
  margin-left: 20%;
 
} 

.seting-detil{
  box-shadow: 5px 10px 20px  #a7952dda inset;
  height: 380px;
  width: 70%;
  margin-left: 23%;
  position: relative;
  
}
.seting-detil .input-box {
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

.seting-detil h3{
  
  padding-top:40px ;
  color: white;
  text-align: right;
  padding-right: 50px;
}
.seting-detil .submit{
  width: 30%;
  margin: auto;
  margin-left: 140px;
  color: wheat;
}
.seting-box1{
  margin-top: 100px;
}

