.Dash-board-manager{
    height: 5000px;
}
.Dash-board-manager .min{
    margin-top: 50px;
}
.Dash-board-manager .min nav{
    height: 450px;
}
.Dash-board-manager .min{
    background-image: url(../../images/dashbord/1715458080642.jpg);
}

.Dash-board-manager .detil .alert{
    background: linear-gradient(to left, #9b7f34, #a88f3e, #a7942d, #dac08a);
    height: 150px;
    border-radius: 50%;
    width: 250px;
    margin-left: 40px;
    margin-top: 120px;
    text-align: center;
    color: white;
}
.Dash-board-manager .detil{
    margin-left: 18%;
}
.contain-employee table{
    margin-left: 19%;
    width: 80%;
    font-size: 20px;
    direction: ltr;
}
.contain-umrah , .contain-hajj , .hotal-updat {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 18%;
 }
.table-employee , .show-travel  {
    max-width: 98%;
    overflow-x: auto; 
    direction: rtl;
  }
  
.table-employee::-webkit-scrollbar ,
.show-travel::-webkit-scrollbar
 {
  height: 12px;
}

.table-employee::-webkit-scrollbar-thumb,
.show-travel::-webkit-scrollbar-thumb
{
  background-color:  #ebcd94;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

 .contain-employee .table-umrah , .show-travel .table{
  overflow-x: scroll;
 }
/* .Dash-board-manager .contain-employee h2 {
    color: #fffefb;
    text-align: center;
    background-color: #0a0903dc;
    border-radius: 50%;
    padding: 3px;
    width: 70%;
    border: 3px solid #75725f;
    margin-left: 20%;
} */

.Dash-board-manager .contain-employee tr td ,.contain-employee th {
    margin: 5px;
    background: linear-gradient(to left, #9b7f34, #a88f3e, #a7942d, #dac08a);
    border: 3px solid rgb(255, 255, 255);
    padding: 4px;
    text-align: right;
    color: white;
}
.contain-employee input{
    width: 90px;
    font-size: 14px;
    width: 107px;
}
.contain-employee .edit , .editminimumAge{
    border: none;
    background-color: rgb(119, 124, 51);
    border-radius: 5px;
    width: 70px;
    color: white;
 
}

.contain-employee .edit:hover{
    border: none;
    background-color: rgb(250, 249, 246);
    border-radius: 5px;
    width: 80px;
    color: rgb(102, 112, 13);
}
.contain-employee .delet{
    border: none;
    background-color: rgb(141, 36, 4);
    border-radius: 5px;
    width: 70px;
    margin-top: 10px;
    color: white;
 
}
.contain-employee .delet:hover{
    border: none;
    background-color: rgb(247, 243, 243);
    border-radius: 5px;
    width: 80px;
    color: rgb(230, 9, 9);
}
.contain-employee .add{
    border: none;
    background-color: rgb(167, 219, 119);
    border-radius: 5px;
    width: 70px;
 
}
.contain-employee .add:hover{
    border: none;
    background-color: rgb(79, 87, 60);
    border-radius: 5px;
    width: 80px;
    color: white;
}

.Dash-board-manager h2{
padding: 30px;
}
.manager-prog-umrah{
    margin-top: 40px;
}
.maneger-hajj-detil {
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    gap: 13%;
  box-shadow: 5px 10px 20px  #a7952dda inset;;
  width: 78%;
}

.maneger-hajj-detil img{
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 50%;
    margin-left: 30px;

}
.edit-hajj label{
    color: white;
    margin-top: 150px;
    font-size: 25px;
    margin-left: 2px;
}
.edit-hajj input{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.maneger-hajj ,.manager-prog-hajj ,.manager-prog-umrah{
    margin-top: 100px;
}
.manager-prog-umrah .prog1 ,.manager-prog-hajj .prog1{
    box-shadow:5px 10px 20px  #a7952dda inset;  
}
.show-transport ,.show-hotal ,.seting-manager{
    margin-top: 50px;
}
.show-travel {
   direction: rtl;
}
.show-travel table { 
    
    margin-left: 20%;
    text-align: right;
    font-size: 18px;
    direction: ltr;
}
.show-hotal table ,.show-transport table {
    font-size: 18px;
    margin-left: 20px;
    text-align: right;
    width: 80%;
    margin-top: 10px;
}
.show-travel table th ,.show-travel table td ,.show-hotal table td ,.show-hotal table th ,.show-transport table td ,.show-transport table th{
margin: 5px;
background: linear-gradient(to left, #9b7f34, #a88f3e, #a7942d, #dac08a);
border: 2px solid rgb(255, 255, 255);
padding: 4px;
color: wheat;
}
.seting-manager .seting-detil{
    width: 78%;
    margin-left: 20%;
    box-shadow: 5px 10px 20px  #a7952dda inset;
}
 .seting-manager .submit{
    background-color: #969592da;
    color:black;
}
.parent-seting {
    box-shadow:5px 10px 20px  #a7952dda inset;
    height: 1200px;
    width: 75%;
    margin-left: 23%;
    position: relative;
}

.seting-detil-maneger .input-box {
    width: 50%;
    margin: auto;
    margin-top: 5px;
  }
  .seting-detil-maneger h3 ,.parent-seting h3{
  
    padding-top:40px ;
    color: white;
    text-align: right;
    padding-right: 50px;
  }
  .seting-detil-maneger .submit{
    width: 34%;
    margin: auto;
    margin-left: 140px;
    color: white;
    background-color: #444442;
  
  }
  .edit-logo input ,.edit-titel input ,.edit-phon input ,.edit-location input ,.edit-about input{
    width: 50%;
    margin-left: 30%;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
  }
 
.seting-manager .submit {
    margin: 10px;
}
.seting-box1 {
    margin-top: 0px;
    width: 400px;
    margin-left: 33%;
}
.input-box{
    width: 400px;
    margin-left: 33%;
}