.umrah-programs {
    padding: 100px 30px;
}

.frame-umrah-programs{
    background-color: #2a2b29;
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgb(255, 247, 247);
    padding: 90px 30px;
    margin: auto;
    color: white;
}

.titel-program {
    text-align: center;
    color: #E09814;
    text-transform: capitalize;
    margin: 20px 0;
    font-size: 46px;
    font-weight: 300;
}
.details-trip2 h3 {
    border-radius: 10px;
    background-color: #EBCD94;
    text-align: center;
    margin: 5px;
    padding: 6px 0;
    color: rgb(8, 8, 8);
    text-transform: capitalize;
    font-size: 25px;
}

b {
    color: #dbac13;
}

.parent{
    display: flex;
    flex-direction: row;
    margin:0 70px 70px 70px;
    direction: rtl;
}
.details-trip2{
    position: relative;
}
.parent img {
    width: 700px;
    height: 600px;
    box-shadow: 0px 0px 16px rgb(255, 247, 247);
    margin-right: 100px;
    margin-top: 150px;
}
.trip-details {
    position: absolute;
    left: 50px;
    bottom: 75px;
    background-color: #2a2b29;
    width: 800px;
    height: 450px;
    font-size: 20px;
    color: rgb(255, 255, 252);
}

.trip-details p{
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px;
    margin-left: 45px;
}
.trip-detail span{
    color: var(--color-gold);
    font-style: italic;
    margin: 0 5px;
    font-size: 24px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #856b17;
    padding: 2px;
    margin:20px 20px 20px 20px;
}

.circle-trip{
    display: flex;
    margin-left: 15px;
    align-items: center;
}

.book-trip {
    height: 90px;
}

.book-trip button {
    width: 100%;
    border: none;
    margin-top: 20px;
    height: 45px;
    border-radius: 25%;
    background-color: rgb(80, 79, 79);
    
}
.book-trip a{
   list-style: none;
   text-decoration: none;
   color: azure;
   font-size: 24px;
   text-align: center;
}

.book-trip button:hover {

    background-color: #ad7f28;
    color: #000000;

}


.buttons ul{
    font-size: 28px;
}
.buttons ul li {
    display: inline;
}
.buttons ul li a:hover {
    background-color: var(--color-gold);
    
}

.Hotels,.Buses {
    text-decoration: none;
    padding: 15px 40px;
    color: var(--color-light);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in;
}
.buttons ul li a.active {
    background-color: var(--color-gold);
    color: var(--color-dark); 
  }
  

  @media  (max-width: 768px) {
  
    .parent {
        flex-direction: column;
        margin-top: 70px;
    }
    .trip-details {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 25px; 
        width: 100%;
        height: max-content;
        box-shadow: 0px 0px 16px rgb(255, 247, 247);
    }
    .parent img{
        margin: 0;
        width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .parent{
        margin-top: 70px;
    }
    .parent img {
        width: 600px;
        margin-right: -50px;
        margin-top: 0px;
    }
    .trip-details {
        left: 20px;
        width: 400px; 
    }
}
 @media (min-width: 993px) and (max-width: 1300px) {
    .parent{
        margin-top: 70px;
    }
    .parent img {
        width: 700px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .trip-details {
        left: 40px;
        width: 600px; 
    }
}
@media (min-width: 1300px)  and (max-width: 1500px) {
    .parent{
        margin-top: 70px;
    }
    .parent img {
        width: 800px;
        margin-right: 50px;
        margin-top: 0px;
    }
    .trip-details {
        left: 50px;
        width: 700px; 
    }
    
}


