.register-program-umrah{
    background-image: url('../../../images/register.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}


.container .hellow {
    text-align: center;
    color: white;
}
.title-program{
    text-align: center;
    color: var(--color-text);
    padding: 10px 0;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
    }
}

.container .register {
    text-align: right;
    color: antiquewhite;
    margin-left: 0;
    animation: slide 2s forwards;
    animation-delay: 0.1s;
}

.container h3,
i {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: aliceblue;
    text-align: right;
}


.container .booking {
    display: flex;
    margin-left: 45%;
    animation: slide 2s forwards;
    animation-delay: 3.2s;
    transform: translateX(200%);
}

.container .booking h3 {
    margin-left: 100px;
}

.container .booking select {
    margin: auto 0;

}

